.tabsbar .content .item.new_button_panel .dropdown_content {
    .item_document .item_icon::before {
        background-image: url("../../images/modules/OfficeDocumentEditor/new_item_document.svg") !important;
    }

    .item_spreadsheet .item_icon::before {
        background-image: url("../../images/modules/OfficeDocumentEditor/new_item_spreadsheet.svg") !important;
    }

    .item_presentation .item_icon::before {
        background-image: url("../../images/modules/OfficeDocumentEditor/new_item_presentation.svg") !important;
    }
}